pydantic
requests
uuid
gTTS
zhon
jieba
pydantic
st-annotated-text
pymongo
python-dotenv
azure-identity
azure-storage-blob
azure-cognitiveservices-speech
matplotlib
streamlit
streamlit-elements
streamlit-mic-recorder
werkzeug
faker
google-generativeai
google-cloud-translate
google-cloud-aiplatform
google-cloud-texttospeech