pydantic
requests
uuid
gTTS
zhon
jieba
google-generativeai
azure-cognitiveservices-speech
pymongo
python-dotenv
azure-identity
azure-storage-blob
matplotlib
streamlit
streamlit-elements
streamlit-mic-recorder
werkzeug
faker
bs4
google-cloud-translate
google-cloud-texttospeech
google-cloud-aiplatform
cryptography
