pydantic
requests
uuid
gTTS
zhon
jieba
google-generativeai
azure-cognitiveservices-speech
pymongo
python-dotenv
azure-identity
matplotlib
pytest
black
streamlit
streamlit-elements
streamlit-mic-recorder
werkzeug
faker
bs4
google-cloud-translate
google-cloud-aiplatform
google-cloud-texttospeech